-content_for :welcome do
  #welcome
    #brand Slideapp
    %p Share your slides real-time.
    .btns
      %span= link_to 'Sign up', new_user_registration_path, :class => "btn btn-large btn-primary"
      %span or
      %span= link_to 'Login', new_user_session_path, :class => "btn btn-large btn-info"

%h3 Home
- @users.each do |user|
  %p
    User: #{link_to user.name, user}
