- content_for :welcome do
  #welcome
    #brand Slideapp
    %p Share your slides real-time.
    - if !user_signed_in?
      .btns
        %span= link_to 'Sign up', new_user_registration_path, :class => "btn btn-large btn-primary"
        %span or
        %span= link_to 'Login', new_user_session_path, :class => "btn btn-large btn-info"

%h2 最近追加されたスライド
%ul.slides_list
  = render "slides/slide_in_list", :slides => @latest_slides
