// Place all the styles related to the slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slides_list,.queued_slides_list {
  list-style-type: none;
  position: relative;
  margin: 10px 0 0;
  img {
    width: 93px;
    border: solid 1px #ccc;
  }
  h4 {
    height: 38px;
    word-wrap: break-word;
    overflow: hidden;
    // text-overflow: ellipsis;
  }
}
.slide_in_list {
  width: 95px;
  padding: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .7);
  border: solid 1px #ccc;
  &:hover {
    background: #ffc;
  }
}
.queued_slide_in_list {
  width: 95px;
  padding: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .7);
  border: solid 1px #ccc;
}
.error_slide {
  background: #fcc;
}
