// Place all the styles related to the slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index
.slides_list,.queued_slides_list {
  list-style-type: none;
  position: relative;
  margin: 10px 0 0;
  img {
    width: 93px;
    border: solid 1px #ccc;
  }
  h4 {
    height: 38px;
    word-wrap: break-word;
    overflow: hidden;
    // text-overflow: ellipsis;
  }
}
.slide_in_list {
  width: 95px;
  padding: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .7);
  border: solid 1px #ccc;
  &:hover {
    background: #ffc;
  }
}
.queued_slide_in_list {
  width: 95px;
  padding: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .7);
  border: solid 1px #ccc;
}
.error_slide {
  background: #fcc;
}

// show
#container {
  padding-top: 5px;
}
@media (max-width: 767px) {
  #sidebar.span2 {
    display: none;
  }
}
#sidebar {
  background: #444;
}
#slide-list {
  overflow-y: scroll;
  .table td:first-of-type {
    border-top: 0;
  }
}
#canvas-menu{
  text-align: center;
  color: white;
  display: none;
  padding: 10px;
}

#slideMain {
  position: relative;
  border: 1px solid #444;
}
#slide {
  width: 100%;
  height: 100%;
}
#buttons {
  bottom: 10px;
  right: 10px;
  position: absolute;
  opacity: .2;
  &:hover {
    opacity: .7;
  }
}
.changeColor {
  width: 15px;
  height: 20px;
  margin-bottom: 5px;
}
.selectedColor {
  border: solid 1px yellow;
}
#blackButton {
  background: black;
}
#whiteButton {
  background: white;
}
#blueButton {
  background: blue;
}
#redButton {
  background: red;
}
#orangeButton {
  background: orange;
}
#greenButton {
  background: green;
}
#lineWidth {
  width: 85%;
}

#sidebar td {
	text-align: center !important;
}

/* -webkit- */
:-webkit-full-screen {
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: #000000;
  #slideMain {
	  border: solid 1px black;
  }
}

#slidePage {
	-webkit-tap-highlight-color: rgba(0,0,0,0);

}

:-webkit-full-screen #buttons {

}
