// Place all the styles related to the slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slides_list {
  list-style-type: none;
  position: relative;
  margin: 10px 0 0;
}
.slide_in_list {
  padding: 9px;
  border: solid 1px #ccc;
}
