#container {
	padding-top: 5px;
}

#slide-list {
	overflow-y: scroll;
	border: 1px solid #aaa;
}
#canvas-menu{
  display: none;
}
/* -webkit- */
:-webkit-full-screen {
	margin: 0 !important;
	width: 100% !important;
	height: 100% !important;
}

:-webkit-full-screen #buttons {

}

:-webkit-full-screen #wrap {

}

:-webkit-full-screen #slide {

}

/* -moz- */
:-moz-full-screen canvas {

}

:full-screen canvas {

}

:fullscreen canvas {

}

#slide {
	border: 1px solid #aaa;
}
